Source: amppki
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 8.0.0), python, libffi-dev
Standards-Version: 3.9.3
Homepage: http://amp.wand.net.nz
#Vcs-Git: git://git.debian.org/collab-maint/ampy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ampy.git;a=summary

# XXX ${python:Depends} removed because it wants to pull in all the packages
# we use that Debian doesn't actually have...
Package: amppki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, libapache2-mod-wsgi, python-openssl, python-crypto
Description: AMP Network Performance Measurement Suite - Cert Authority Tools
 This package contains the web scripts used to accept certificate signing
 requests and to serve certificates, as well as the admin scripts to manage
 signing and revoking certificates.
